<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomica Collection</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'tomica.css' %}">
</head>
<body>
    <header>
        <h1>Tomica</h1>
        <nav>
            <ul>
                <li><a href="../../home">Home</a></li>
            </ul>
        </nav>
    </header>
    <section class="product-list">
        <!-- Each product should be wrapped in a separate hotwheel-item div -->
        {% for tomica in tomica_list %}
        <div class="tomica-item">
            <a href="#">
                <img src="{{ tomica.image_url }}" alt="{{ tomica.name }}">
            </a>
            <h3>{{ tomica.name }}</h3>
            <p>Price: ₹{{ tomica.price }}</p>
            <div class="talk-to-seller" id="talkToSeller{{ tomica.id }}">
                <a href="mailto:{{ tomica.email_id }}" class="contact-button">Talk via Email</a>
                <a href="https://wa.me/{{ tomica.number }}" class="contact-button whatsapp">Talk via WhatsApp</a>
                <!-- You can add more communication links as needed -->
            </div>
        </div>
        {% endfor %}
        <!-- Repeat the above structure for other products -->
    </section>
</body>
</html>
